.card {
    width: 20rem;
    height: 30rem;
    margin-top: -20px;
    font-family: Arial;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px #5A5A5A;
}

.card-body {
    padding: 3rem 0 !important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
    text-align: left;
}

.container-fluid .row {
    padding-top: 3rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
    background-position: center;
    width: 20rem;
    height: 10rem;
}

.card-img-top:hover {
    transform: scale(1.8);
}

@media (max-width: 768px) {
    .container-fluid .row {
        justify-content: center;
    }

    .col-md-4 {
        margin: 1rem;
    }
}

@media (max-width: 450px) {
    .container-fluid .row {
        justify-content: center;
    }

    .col-md-4 {
        margin: 1rem;
    }
}